<div class="text-center margins">

  <%= simple_form_for @status do |f| %>

    <div class="checkbox-custom-container">
      <div class="dyn-text">
        <div class="first">Etes-vous seul ou plusieurs ?</div>
      </div>
      <div class="collection-check-boxes">
        <%= collection_radio_buttons(:status, :q1, ["Seul", "Plusieurs"], :capitalize, :capitalize) do |b| %>
          <label id="label-<%= b.text.capitalize %>">
            <%= b.radio_button %>
            <div class="check-box" id="radio-<%= b.text.capitalize %>">
              <div class="b-text-font"><%= b.text %></div>
            </div>
          </label>
        <% end %>
      </div>
    </div>

    <div class="checkbox-custom-container">
      <div class="dyn-text">
        <div class="first">Quelle est votre profession ?</div>
      </div>
      <div class="collection-check-boxes">
        <%= collection_radio_buttons(:status, :q2, ["Commercant", "Artisan", "Profession libérale", "Je ne sais pas"], :capitalize, :capitalize) do |b| %>
          <label id="label-<%= b.text.capitalize %>">
            <%= b.radio_button %>
            <div class="check-box" id="radio-<%= b.text.capitalize %>">
              <div class="b-text-font"><%= b.text %></div>
            </div>
          </label>
        <% end %>
      </div>
    </div>

    <div class="checkbox-custom-container">
      <div class="dyn-text">
        <div class="first">Quelle est la nature de votre activité ?</div>
      </div>
      <div class="collection-check-boxes">
        <%= collection_radio_buttons(:status, :q3, ["prestation de service", "Vente de marchandises", "Mixte"], :capitalize, :capitalize) do |b| %>
          <label id="label-<%= b.text.capitalize %>">
            <%= b.radio_button %>
            <div class="check-box" id="radio-<%= b.text.capitalize %>">
              <div class="b-text-font"><%= b.text %></div>
            </div>
          </label>
        <% end %>
      </div>
    </div>

     <div class="checkbox-custom-container">
      <div class="dyn-text">
        <div class="first">Allez vous faire</div>
        <div class="middle">...</div>
        <div class="last">de Chiffre d'Affaires</div>
      </div>
      <div class="collection-check-boxes">
        <%= collection_radio_buttons(:status, :q4, ["Plus", "Moins", "Je ne sais pas"], :capitalize, :capitalize) do |b| %>
          <label id="label-<%= b.text.capitalize %>">
            <%= b.radio_button %>
            <div class="check-box" id="radio-<%= b.text.capitalize %>">
              <div class="b-text-font"><%= b.text %></div>
            </div>
          </label>
        <% end %>
      </div>
    </div>


    <%= f.input :q5, label: "Votre projet entraine il un risque ?", collection: ["Faible", "Moyen", "Important"] %>
    <%= f.input :q6, label: "Avez-vous peur de travailler avec le RSI ?", collection: ["Oui", "Non", "Sans opinion"] %>
    <%= f.input :q7, label: "Envie ou besoin de secu forte ?", collection: ["Oui", "Non", "Sans opinion"] %>
    <%= f.submit %>
  <% end %>

</div>
