<div class="navbar-wagon">

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <div class="logo-navbar">
      <div>Klub</div>
      <div style="font-weight: 300;">Konseil</div>
    </div>
  <% end %>

  <div class="navbar-wagon-right">

    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <div class="custom-dropdown-link" data-toggle="dropdown"><%= current_user.email %></div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "custom-navbar-button" %>
    <% end %>
  </div>

</div>

