
<div class="desktop-layout hidden-xs">

  <div class="desktop-left">
    <div class="content-left">
      <div class="content-left-header">
        <i class="fa fa-info"></i>
        <div class="dynamic-info-text">Informations</div>
      </div>
      <div class="dynamic-content"></div>
    </div>
  </div>

  <div class="dashboard-container" style="width: 50%;">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#Outil-1" aria-controls="home" role="tab" data-toggle="tab">Quel statut ?</a></li>

      <% if (@user.statuses.length - 1) == 0 %>

        <li role="presentation">
          <a href="#" id="custom-tab-with-icon">
            <%= "Historique" %>
            <% if (@user.statuses.length - 1) > 0 %>
              <div class="tab-icon"><%= "#{@user.statuses.length - 1}" %></div>
            <% end %>
          </a>
        </li>

      <% else %>

        <li role="presentation">
          <a href="#Outil-2" aria-controls="profile" role="tab" data-toggle="tab" id="custom-tab-with-icon">
            <%= "Historique" %>
            <% if (@user.statuses.length - 1) > 0 %>
              <div class="tab-icon"><%= "#{@user.statuses.length - 1}" %></div>
            <% end %>
          </a>
        </li>

      <% end %>

    </ul>


    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="Outil-1">
        <%= render "statuses/new" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="Outil-2">
        <div class="text-center margins">
         <% @user.statuses.each_with_index do |status, index| %>
            <% if status.persisted? %>
              <div class="history-custom-container">
                <div class="item-header">
                  <div class="title-bold">Konseil</div>
                  <div class="content"><div class="history-index"><%= index + 1 %></div></div>
                </div>
                <div class="item">
                  <div class="title">Votre recherche du</div>
                  <div class="content"><%= "#{status.created_at.strftime("%d %B %Y")}" %></div>
                </div>
                <div class="item">
                  <div class="title">Statuts conseillés</div>
                  <div class="content"><%= "#{status.proposition} ou #{status.counter_proposal}" %></div>
                </div>
                <%= link_to status_path(status) do %>
                  <div class="history-custom-link">Voir le détail</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="dashboard-container hidden-sm hidden-md hidden-lg">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#Outil-1" aria-controls="home" role="tab" data-toggle="tab">Quel statut ?</a></li>
      <li role="presentation">
        <a href="#Outil-2" aria-controls="profile" role="tab" data-toggle="tab" id="custom-tab-with-icon">
          <%= "Historique" %>
          <% if (@user.statuses.length - 1) > 0 %>
            <div class="tab-icon"><%= "#{@user.statuses.length - 1}" %></div>
          <% end %>
        </a>
      </li>
    </ul>


    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="Outil-1">
        <%= render "statuses/new" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="Outil-2">
        <div class="text-center margins">
         <% @user.statuses.each_with_index do |status, index| %>
            <% if status.persisted? %>
              <div class="history-custom-container">
                <div class="item-header">
                  <div class="title-bold">Konseil</div>
                  <div class="content"><div class="history-index"><%= index + 1 %></div></div>
                </div>
                <div class="item">
                  <div class="title">Votre recherche du</div>
                  <div class="content"><%= "#{status.created_at.strftime("%d %B %Y")}" %></div>
                </div>
                <div class="item">
                  <div class="title">Statuts conseillés</div>
                  <div class="content"><%= "#{status.proposition} ou #{status.counter_proposal}" %></div>
                </div>
                <%= link_to status_path(status) do %>
                  <div class="history-custom-link">Voir le détail</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
</div>
