<div class="dashboard-container">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#Outil-1" aria-controls="home" role="tab" data-toggle="tab">Votre statut</a></li>
    <li role="presentation"><a href="#Outil-2" aria-controls="profile" role="tab" data-toggle="tab">Votre compte</a></li>
  </ul>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Outil-1">
      <% if @user.statuses.length > 3 %>
        <% @user.statuses.each do |status| %>

          <div class="proposal-container-statuses">
            <div class="bottom">
              <div class="item">
                <div class="title">Votre recherche du</div>
                <div class="content"><%= "Recherche du #{status.created_at.strftime("%d %B %Y")}" %></div>
              </div>
              <div class="item">
                <div class="title">Statuts conseillés</div>
                <div class="content"><%= "#{status.proposition} ou #{status.counter_proposal}" %></div>
              </div>
            </div>
          </div>

        <% end %>
      <% else %>
        <%= render "statuses/new" %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="Outil-2">

      <div class="proposal-container">
        <div class="bottom">
          <div class="item">
            <div class="title">Email</div>
            <div class="content"><%= @user.email %></div>
          </div>
          <div class="item">
            <div class="title">Connecté depuis</div>
            <div class="content"><%= "#{((Time.current - @user.current_sign_in_at) / 1.minutes).round(0)} minutes" %></div>
          </div>
          <div class="item">
            <div class="title">IP de connexion</div>
            <div class="content"><%= @user.current_sign_in_ip %></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
