
<div class="text-center">
  <h1><%= @status %></h1>
  <h1><%= @cfe %></h1>
  <h1><%= @compta_mode %></h1>
  <h1><%= @titre_dirigeant %></h1>
  <h1><%= @social_cover %></h1>
  <h1><%= @social_charges %></h1>
  <h1><%= @imposition %></h1>
</div>



