
<div class="proposal-container">
  <div class="top">
    <div class="proposal-title-container">
      <div class="title-type">PROPOSITION</div>
      <div class="title"><%= @status %></div>
    </div>
  </div>
  <div class="bottom">
    <div class="item">
      <div class="title">Centre de formalités des entreprises</div>
      <div class="content"><%= @cfe %></div>
    </div>
    <div class="item">
      <div class="title">Mode de comptabilité</div>
      <div class="content"><%= @compta_mode %></div>
    </div>
    <div class="item">
      <div class="title">Titre du dirigeant</div>
      <div class="content"><%= @titre_dirigeant %></div>
    </div>
    <div class="item">
      <div class="title">Couverture sociale</div>
      <div class="content"><%= @social_cover %></div>
    </div>
    <div class="item">
      <div class="title">Charges sociales</div>
      <div class="content"><%= @social_charges %></div>
    </div>
    <div class="item">
      <div class="title">Imposition</div>
      <div class="content"><%= @imposition %></div>
    </div>
  </div>
</div>



<div class="counter-proposal-container">
  <div class="top">
    <div class="proposal-title-container">
      <div class="title-type">CONTRE PROPOSITION</div>
      <div class="title"><%= @contre_propo %></div>
    </div>
  </div>
  <div class="bottom">
    <div class="reasons"><%= @reason %></div>
  </div>
</div>
