


<div class="login-header">Connexion</div>

<div class="login-container">

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">

      <div class="login-label">Email</div>
      <%= f.input :email, required: false, autofill: false, label: false %>

      <div class="login-label">Mot de passe</div>
      <%= f.input :password, required: false, label: false %>


    </div>

    <div class="form-actions-center">
      <%= f.button :submit, "Se connecter", class: "native-button" %>
    </div>
  <% end %>

  <div class="login-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>
